<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABout</title>
    <link rel="stylesheet" href="/css/style.css">
 <style>
     img{
         width: 200px;
     }
 </style>
</head>
<body>
    {{>navbar}}
   <h1>About US</h1>
   <img src="/img/yami.png" alt="cant show image">
   <p>Created by {{name}}</p>
   <p>this website takes name of a place as a text and display the tempareture of the given city </p>
{{>overall}}
   {{>footer}}
</body>
</html>